<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">

      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  Verify Your Email</h1>

      <%- include ./partials/messages %>

      <form action="/users/verify" method="POST">

        <div class="form-group">
          <label for="email">Secret Token</label>
          <input
            type="text"
            id="secretToken"
            name="secretToken"
            class="form-control"
            placeholder="Secret Token"
          />
        </div>

        <button type="submit" class="btn btn-primary btn-block">Verify</button>

      </form>

    </div>
  </div>
</div>